main {
    width: 1000px;
    height: 700px;
    background-image: linear-gradient(90deg, lightgrey, white, lightgrey);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.big {
    height: 400px;
    display: flex;
    box-shadow:         3px 3px 10px 2px rgb(150, 150, 150);
}

#leftSidebar {
    height: 400px;
    width: 40px;
    background: white;
    background-image: linear-gradient(white, rgb(233, 233, 233));
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightSidebar {
    height: 400px;
    width: 40px;
    background: white;
    background-image: linear-gradient(white, rgb(233, 233, 233));
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftButton, #rightButton {
    height: 30px;
    width: 20px;
    background: url(arrow.svg) no-repeat top left;
    background-size: contain;
    border: none;
    cursor: pointer;
}

#leftButton:hover, #rightButton:hover {
    opacity: 0.5;
}

button:focus {
    outline: 0;
}

#rightButton {
    transform: rotate(180deg);
}

#photoArea {
    position : relative;
    width: 600px;
    text-align: center;
}

#photo {
    height: 400px;
}

.description {
    position: absolute;
    display: block;
    background: rgba(70, 70, 70, 0.6);
    width: 100%;
    bottom: 0;
    left: 0;
}

#pTitle {
    display: block;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-left: 10px;
}

#pDescription {
    display: block;
    font-family: 'Gentium Book Basic', serif;
    color: rgb(231, 231, 231);
    padding-left: 10px;
}

.thumbnails {
    position: absolute;
    height: 100px;
    bottom: 25px;
    display: flex;
    justify-content: center;
}

.thumbnail {
    width: 100px;
    height: 100px;
    margin: 0 20px 0 20px;
    padding: 0;
    box-shadow: 0px 10px 10px 0px rgb(121, 121, 121);
    border: solid 5px rgb(200, 200, 200); 
    cursor: pointer;
    background-size: cover;
    position: relative;
}

.thumbnail:hover {
    box-shadow:         0px 10px 10px 0px rgb(49, 49, 49);
}

.thumbnail:after
{
   position: absolute;
   height: 25px;
   width: 120px;
   padding: 0px;
   background: #000000;
   border-radius: 10px;
   border-radius: 10px;
   content: 'A';
   display: none;
   top: -35px;
   left: -11px;
   color: white;
   text-align: center;
   line-height: 25px;
   font-family: 'Gentium Book Basic', serif;
   z-index: 3;
}

.thumbnail:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #000000 transparent;
    width: 0;
    display: none;
    top: -10px;
    left: 45px;
    z-index: 3;
    
}

.thumbnail:hover::after,
.thumbnail:hover::before {
    display: block;
}

.active:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgb(200, 200, 200);
    top: -20px;
    /* display: none; */
    left: 30px;
    z-index: 2;
}

.special:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgb(200, 200, 200);
    top: -20px;
    display: none;
    left: 30px;
    z-index: 2;
}









