main {
    width: 1000px;
    height: 700px;
    background-image: linear-gradient(90deg, lightgrey, white, lightgrey);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 400px;
    display: flex;
    background-color: white;
}

#leftSidebar {
    height: 400px;
    width: 40px;
    background: white;
    background-image: linear-gradient(white, rgb(233, 233, 233));
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightSidebar {
    height: 400px;
    width: 40px;
    background: white;
    background-image: linear-gradient(white, rgb(233, 233, 233));
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 28px;
    width: 18px;
    background: url(arrow.svg);
    background-size: 18px 28px;
    border: none;
}

button:hover {
    opacity: 0.5;
}

button:active {
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2),
    inset 0 1.5em 1em rgba(0, 0, 0, 0.3);
  }

#rightButton {
    transform: rotate(180deg);
}

img {
    height: 400px;
    object-fit: contain;
}

#PhotoArea {
    position : relative;
}

.description {
    position: absolute;
    border: solid thin;
    padding-left: 0;
    top: 50%;
    left:50%;
    transform: translate(-50%, 50%);
}


